In [1]:
#no 1
import pandas as pd
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
correlation = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()
z = correlation['Element Code'].idxmin()
# Display the result
print(df.head)
print(z)

<bound method NDFrame.head of        Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]>
Y2016

In [2]:
# no2
total_unique_countries = df['Area'].nunique()

total_unique_countries

49

In [3]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [4]:
year_columns = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']

yearly_sum = df[year_columns].sum()

year_with_highest_sum = yearly_sum.idxmax()
year_with_highest_sum

'Y2018'

In [5]:
Ist = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30, 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

pd.DataFrame(Ist, columns=col, index=[1, 2, 3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [6]:
element_grouped = df.groupby('Element')['Y2017'].sum()

processing_sum_2017 = element_grouped.get('Processing', 0)

processing_sum_2017

292836.0

In [7]:
column_2014 = df['Y2014']
total_missing_2014 = column_2014.isnull().sum()
total_data_points_2014 = column_2014.count()
percentage_missing_2014 = (total_missing_2014 / total_data_points_2014) * 100
print(f"Percentage: {percentage_missing_2014:.3f}%")
print("Total:", total_missing_2014)

Percentage: 2.677%
Total: 1589

In [8]:
madagascar_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015']

total_protein_supply_2015 = madagascar_2015.sum()

total_protein_supply_2015

173.04999999999998

In [9]:
area_sum = df.groupby('Area').sum()

area_with_highest_sum = area_sum['Y2015'].idxmax()

area_with_highest_sum

C:\Users\Ekems\AppData\Local\Temp\ipykernel_20936\4067343264.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  area_sum = df.groupby('Area').sum()

'Nigeria'

In [10]:
selected_columns = df[['Y2017', 'Area']]
area_sum_2017 = selected_columns.groupby('Area')['Y2017'].sum().reset_index()
sorted_areas = area_sum_2017.sort_values(by='Y2017', ascending=True)

seventh_lowest_area = sorted_areas.iloc[6]['Area']

seventh_lowest_area

'Guinea-Bissau'

In [11]:
mean_2017 = df['Y2017'].mean()
std_dev_2017 = df['Y2017'].std()

print("Mean:", mean_2017)
print("Standard Deviation:", std_dev_2017)

Mean: 140.9177648602722
Standard Deviation: 1671.8623590572788